<h2>Edit Book</h2>
<%- include("../partials/error") -%>
<form method="POST" action="/books/<%= book.id %>?_method=PUT">
  <%- include("./_form_fields", {
    title: book.title, 
    publishedAt: book.publishedAt,
    description: book.description,
    noOfPages: book.noOfPages,
    }) -%>
  <div class="form-row form-row-end btn-container">
    <a class="btn btn-danger" href="/books/<%= book.id %>">Cancel</a>
    <input class="btn btn-primary" type="submit" value="Update">
  </div>
</form>