<h2>Create New Book</h2>
<%- include("../partials/error") -%>
<form action="" method="POST" enctype="multipart/form-data">
  <%- include("./_form_fields") -%>
  <input type="submit" value="Create">
  <a href="/">Cancel</a>
</form>