<%- include("../partials/error") -%>
<h2 class="page-header">Create New Book</h2>
<form action="" method="POST">
  <%- include("./_form_fields") -%>
  <div class="form-row form-row-end btn-container">
    <a class="btn btn-danger" href="/">Cancel</a>
    <input class="btn btn-primary" type="submit" value="Create">
  </div>
</form>