<% if (messages.error) { %>
  <% for( let i = 0; i <messages.error.length; i++ ) { %>
    <div>
      <p class="error-msg"><%= messages.error[i] %></p>
    </div>
  <% } %>
<% } %>

<% if (messages.success) { %>
  <div>
    <p><%= messages.success %></p>
  </div>
<% } %>