:root {
	--nav-title-font-size: 3rem;
	--nav-title-font-weight: bold;
	--nav-link-font-weight: 200;
}

.header-title {
	color: var(--color-text-light);
	text-decoration: none;
	font-size: var(--nav-title-font-size);
	font-weight: var(--nav-title-font-weight);
}

.header-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5rem;
}

.header-nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.header-nav li {
	list-style: none;
}

.header-nav li a {
	text-decoration: none;
	color: var(--color-text-light);
	font-weight: var(--nav-link-font-weight);
	padding: 1rem;
}

.header-nav li a:hover,
.header-title:hover {
	color: white;
	cursor: pointer;
}

.drop-down {
	display: none;
	position: absolute;
}

.sub-options {
	background: linear-gradient(
		to right,
		var(--background-color-dark),
		var(--background-color-light)
	);
	box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sub-options li {
	margin: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.322);
	padding: 10px;
}

.sub-options li:last-child {
	border-bottom: none;
	padding: 0 0 10px 0;
}

.header-nav li:last-child:hover .drop-down {
	display: grid;
}
