<h2>Register</h2>
<%- include("../partials/error") -%>
<form method="post">
  <%- include("./_form_fields") -%>
  <a class="links" href="/users/login">sign in</a>
  <div class="form-row form-row-end">
    <input type="submit" class="btn btn-primary" value="Register">
  </div>
</form>