<h1><%= author.name %></h1>
<% if (books.length > 0) { %>
  <div>
    <% books.forEach(book => { %>
    <div>
      <img height="150" width="100" src="<%= book.coverImageLink %>" alt="<%= book.title + " cover image" %>">
    </div>
    <% }) %>
  </div>
<% } else { %>
  <div>
    <h3><%= author.name %> has not published any book yet.</h3>
  </div>
<% } %>