<h2 class="page-header">Create New Author</h2>
<%- include("../partials/error") -%> 
<form action="" method="POST">
  <%- include("_form_fields") -%>
  <input class="btn btn-primary" type="submit" value="Create">
  <a href="/" class="btn btn-primary">Cancel</a>
</form>